#oztter {
    position: absolute;
    margin: -100px 0px 0px -325px;
    left: 50%;
    top: 40%;
}

#form {
    position: absolute;
    margin: 10px 0px 0px -170px;
    left: 50%;
    top: 50%;
    width: 340px;
}

.form {
    margin: 16px 0px 0px 0px;
    height: 35px;
    width: 100%;
    border-radius: 50px;
    color: #575757;
    background: #fff9f0;
    border: none;
    border-right: solid 4px #eae7e2;
    border-bottom: solid 4px #eae7e2;
    font-size: 25px;
    padding: 5px;
    bottom: -5px;
    position: relative;
}

.label {
    padding-left: 5px;
    margin: 0px 0px 0px 6px;

}

.input {
    height: 20px;
    width: 150px;
    font-size: 22px;
    font-family: Montserrat;
    margin: 10px 0px 0px 0px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
